h1 {
  color: #93329e;
  font-family: 'Lora', serif;
}

/*h2 {
  color: #b4aee8;
  font-family: 'Noto Serif', serif;
}

h3 {
  color: #f25287;
  font-family: 'Shippori Mincho B1', serif;
}
*/
body{
    background-color:#151515;

}

p{
  font-family: 'Montserrat', sans-serif;
  color:#ccffbd;


}

.Personal{
         color: orange;
         border: dotted;


}

.Ballet{
       color: blue;
       border: solid 3px;
}

.Ballroom{
        color: green;
        border: dotted 3px;

}

.Contemp{
       color: brown;
       border: solid 3px;

}

.Hip-Hop{
        color: red;
        border: dotted 3px;

}

.Bharatnatyam{
            color: yellow;
            border: solid 3px;

}

.Kathak{
      color: violet;
      border: dotted 3px;

}

.Kathakali{
          color: indigo;
          border: solid 3px;

}

.Kuchipudi{
          color: white;
          border: dotted 3px;

}

.Manipuri{
         color: purple;
         border: solid 3px;

}
